<%- include ('header') %>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/trainers.html">Oktatók</a>
        <a class="navbar-brand" href="/index.html">Főoldal</a>
    </nav>
</div>


<container>

    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Kutya neve</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Név" value=" " required>

            </div>
            <div class="col-*">
                <label for="validationCustom02">Méret</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Méret" value="" >

            </div>
            <div class="col-*">
                <label for="validationCustomUsername">Fajta</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Fajta" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Add meg a fajtáját
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-*">
                <label for="validationCustom03">Szín</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="Szín" >
            </div>
            <div class="col-*">
                <label for="validationCustom04">Életkora</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="Életkor" >
                <div class="invalid-feedback">
                    Kérlek írd be a korát
                </div>
            </div>

        </div>

        <button class="btn btn-primary" type="submit" formaction="/dogs.html">Mentés</button>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</container>
<%- include ('footer') %>