<% layout('layout') -%>

<style>
    div.a {
        text-align: center;
    }
</style>

<div class="a">
    <h1>Üdvözöllek a legjavabb kutyaiskolában</h1>
    <img src="indexpic.jpg" size=" 70%">
</div>

