<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/trainers">Oktatók</a>
        <a class="navbar-brand" href="/index">Főoldal</a>
    </nav>
</div>