<%- include ('header') %>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 100px">
        <a class="navbar-brand" href="/index.html">Főoldal</a>
        <a class="navbar-brand" href="/trainers.html">Oktatók</a>
    </nav>
</div>

<div class="container">
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Név</th>
        <th scope="col">Kor</th>
        <th scope="col">Azonosító</th>
        <th scope="col">Kutyái</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>No Dénes</td>
        <td>36</td>
        <td>asd123</td>
        <td>
            <a href="dogs.ejs">Jelenleg oktatott kutyák</a>
        </td>
    </tr>

    </tbody>
</table>
</div>
<%- include ('footer') %>